// src/assets/style/colors.sass

// 主色系
$primary-color: #3498db  // 藍色
$secondary-color: #2ecc71  // 綠色

// 中性色系
$neutral-light: #ecf0f1  // 淺灰
$neutral-dark: #34495e  // 深灰

// 警告色系
$warning-color: #f39c12  // 黃色
$error-color: #e74c3c  // 紅色
$success-color: #2ecc71  // 成功顏色
